<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">

    <title>녹동현대병원 내시경실</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/home2.css" %}" >

</head>
<body>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script>
$(document).ready(function() {
    $('.datepicker').datepicker({
    dayNamesMin: [ "Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat" ],
    monthNamesShort: ['1','2','3','4','5','6','7','8','9','10','11','12'],
    dateFormat:'yy-mm-dd',
    changeMonth:true,
    changeYear: true,
    yearRange:"2016:2020",
    });

});
</script>
<div id="content">
    <h1> 입  력 하 세 요</h1>

    <form action="/procedure/add_patient_initial/" method="post"> {% csrf_token %}
    {{ form.as_p }}
        <input type="submit" id="button" value="입력" />
    </form>
    <br/><br/>
</div>
</body>
